@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// font-family
$Roboto: "Roboto", sans-serif;

// font-size
$MainSize: 16px;
$fz20: 20px;
$fz24: 24px;
$fzH2: 36px;
$fz46: 46px;

//font-weight
$Normal: 400;
$Bold: 700;

// margin

$MSections: 50px;
$MText: 20px;
