@import "../../assets/scss/Colors.module.scss";
@import "../../assets/scss/Fonts.module.scss";

.form_container {
  display: flex;
  flex-direction: column;

  .input {
    border: 1px solid $Grey;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;

    &:focus {
      outline: none;
    }
  }

  .country {
    border: 1px solid $Grey;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    input {
      border: none;
      &:focus {
        outline: none;
      }
    }
  }

  textarea {
    padding: 10px;
    margin-bottom: 20px;
    height: 120px;

    &:focus {
      outline: none;
    }
  }
  .button {
    width: 40%;
    padding: 10px;
    background-color: $Submit;
    font-weight: $Bold;
    color: $Background;
    border: none;
    box-shadow: 0px 4px 15px -2px $Grey;
    transition: all 0.3s ease;
    margin-bottom: 30px;
    border-radius: 15px;

    &:hover {
      background-color: $SubmitHover;
      cursor: pointer;
    }
    &:active {
      background-color: $ActiveColor;
    }
  }
}
