@import "../../assets/scss/Colors.module.scss";
@import "../../assets/scss/Fonts.module.scss";

main {
  background: url(../../assets/images/main.jpg) no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position-y: 18%;
  position: relative;

  .container {
    width: 1280px;
    margin: 0 auto;
    .title {
      position: absolute;
      top: 100px;
      width: 390px;
      font-size: $fz46;
      font-weight: $Bold;
      color: $MainColor;
    }

    .text {
      position: absolute;
      top: 350px;
      width: 300px;
      font-size: $fz24;
      font-weight: $Normal;
      color: $HoverColor;
    }
    .button {
      position: absolute;
      top: 57%;
    }
  }
}

// Mobile
@media screen and (max-width: 520px) {
  main {
    .container {
      padding: $PaddingMobile;
      .title {
        top: 4%;
        font-size: $fzH2;
        width: 280px;
      }

      .button {
        top: 60%;
      }
    }
  }
}

//  Tablet SD
@media screen and (min-width: 521px) and (max-width: 768px) {
  main {
    .container {
      padding: $PaddingTablet;
      .title {
        top: 3%;
        font-size: $fzH2;
      }

      .button {
        top: 60%;
      }
    }
  }
}

// Tablet HD
@media screen and (min-width: 769px) and (max-width: 1350px) {
  main {
    .container {
      padding: $PaddingTablet;
      .title {
        font-size: $fzH2;
      }

      .button {
        top: 65%;
      }
    }
  }
}
